.login {
  display: flex;
  height: 100vh;
}

.login-container,
.login-showcase {
  width: 50%;
}
.list {
  padding: 0px;
}
.list > li {
  list-style-type: none;
  padding: 12px;
  background: red;
  color: white;
  border-radius: 13px;
  margin-top: 10px;
}
.registerA {
  margin-top: 10px;
}
.login-container {
  background: white;
  display: flex;
  flex-direction: column;
}
.logo > img {
  margin-top: 30px;
  margin-left: 50px;
}

.spline-image {
  width: 100%;
  object-fit: cover;
}

.spline-scene {
  background-color: black;
  display: flex;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-showcase {
  background: black;
}
.loginContainer {
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 150px;
}

.loginText > h1 {
  font: bold;
}
.loginForm > label {
  color: black;
  font-weight: 400;
}
.loginForm > .inputIcons > input {
  border-radius: 10px;
  padding: 15px;
  outline: black;
  border: 0.3px solid whitesmoke;
  width: 100%;
}
.loginForm > button {
  border: none;
  height: 50px;
  background: #000000;
  margin-top: 15px;
  font-size: 0.9rem;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.bottomLogin {
  position: relative;
  margin-top: 10px;
  height: 25px;
}
.checkbox,
.bottomLogin > a {
  position: absolute;
}
.checkbox {
  left: 0;
}
.bottomLogin > a {
  right: 0;
  color: #000000;
  cursor: pointer;
}
.inputIcons {
  position: relative;
}
.icon {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .login {
    flex-direction: column;
  }

  .login-container {
    width: 100%;
  }

  .spline {
    display: none;
  }

  .loginContainer {
    margin-top: 60px;
    padding-bottom: 40px;
  }
}

.small-logo {
  width: 20px;
}
