.registerContainer {
  flex: 2;
}

.regContainer {
  display: flex;
}
.formContainerRegister {
  margin: 0 auto;
  padding: 60px;
}
.registerInput {
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-evenly;
}
.register-input {
  font-size: 1rem;
  padding: 12px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

.register-input:focus {
  border-bottom: 2px solid #5f30e2 !important;
  outline: none;
}

.logo-white {
  filter: invert(1);
}

.registerButton {
  padding: 10px;
  background: #6d9886;
  color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  width: 120px;
  border: none;
  cursor: pointer;
}

.register-intro > img {
  margin-top: 50px;
}
.red {
  background: #393e46 !important;
}

@media only screen and (max-width: 600px) {
  .login {
    flex-direction: column;
  }

  .register-container {
    display: flex;
  }

  .reg-steps {
    width: 100% !important;
    flex: none !important;
  }

  .reg-comp {
    width: 100% !important;
    flex: none !important;
  }

  .progressList {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    column-gap: 50px;
  }
}
