.profilePage {
  display: flex;
}

.profile-container {
  flex: 3;
}

.profile-stats {
  display: flex;
  align-items: center;
}

.profile-section {
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
  justify-content: space-around;
}
.profile-cover {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.profileCover {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.profileName {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  margin: 0px;
}
.profile-info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-bar {
  display: flex;
  justify-content: center;
  background: white;
}
.profile-place {
  display: flex;
  justify-content: space-evenly;
}
.profilePic {
  border-radius: 50%;
  width: 102px;
  object-fit: cover;
  height: 102px;
}
.stats {
  padding: 0px;
  display: flex;
  width: 400px;
  justify-content: space-around;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.editProfile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-posts {
  overflow-y: scroll;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #0f8af9 lightgrey;
}
.editProfile > button {
  padding: 10px;
  background: transparent;
  border: 2px solid black;
  margin-right: 10px;
}
.statCount {
  font-weight: bold;
}

.schoolLogo {
  max-width: 40px;
}
